<div class="container-fluid">
  <div class="container vh-login">
    
    <img class="login-img" src="../../assets/img/logo_white_text.png">
  
    <form class="form-input" action=""> 
      <div class="row">
          <input type="userName" class="form-control input-form" id="#" placeholder="Username">
          <input  type="userPassword" class="form-control input-form" id="#" placeholder="Password">
      </div>
      <div class="row">
          <button type="button" class="btn btn-light btn-lg login-btn">Login</button>          
      </div>
      <div class="row">
          <a href="#" id="#" class="create-acc">Create a New Account</a>          
      </div>
    </form>
  </div>  
</div>