
body {
    background-color: #69D3D6;    
}

/***Login Img***/
.login-img {
    /* position: absolute; */
    padding: 5px;
    max-width: 20%;
    max-height: 20%;
    height: auto;
    display: block;
    margin: 0 auto;
    font-family: 'Brandon Grotesque';

}
/***End of login img***/


/***Inside form-input***/
.form-input {
    max-width: 600px;
    margin: 0 auto;
}

.input-form {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    font-family: 'Brandon Grotesque';
}

.checkbox {
    font-family: 'Brandon Grotesque';
}

.btn {
    margin: 5px auto;
    background-color: white ;
    font-family: 'Brandon Grotesque';
    max-height: 20%;
    height: auto;
    padding: 5px;
}
/***End of form-input***/
