<div class="container-fluid">
  <div class="container">
    <img class="login-img" src="../../assets/img/logo_white_text.png">
    <form action="form-input" action="">
      <div class="row">
        <div class="col col-md-6">
            <input type="firstName" class="form-control input-form" id="#" placeholder="First Name" aria-describedby="emailHelp">
        </div>
        <div class="col col-md-6">
            <input type="lastName" class="form-control input-form" id="#" placeholder="Last Name">                    
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="email" class="form-control input-form" id="#" placeholder="Email Address">            
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="phone" class="form-control input-form" id="#" placeholder="Phone Number (Optional)">  
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="userName" class="form-control input-form" id="#" placeholder="Create Username">            
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="confirmUserName" class="form-control input-form" id="#" placeholder="Confirm Username">  
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="password" class="form-control input-form" id="#" placeholder="Create Password">  
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="password" class="form-control input-form" id="#" placeholder="Confirm Password">  
        </div>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" value="">
          I am not a robot
        </label>
      </div>
      <div class="row justify-content-md-center">
        <button class="btn btn-primary acc-create" type="submit">Create My Account</button>          
      </div>
    </form>
  </div>
</div>